@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    font-family: Rubik;
}

h1, h2, h3 {
    border-bottom: 3px solid #ffe41c;
}

body {
    font-family: Rubik;
    background-color: #701c3c;
}

#description {
    background-color: #701c3c;
    color: white;
}

.card {
  width: 25%;
  margin: auto;
  text-align: center;
  font-family: arial;
  display: inline-block;
  height: 80%;
  border: 0;
}

.card > img {
    border-radius: 50%;
}

.title {
  color: grey;
  font-size: 18px;
}

.card > button {
  border: none;
  outline: 0;
  display: inline-block;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 50%;
  font-size: 18px;
}

.card > a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card > button:hover, a:hover {
  opacity: 0.7;
}

h1 {
    font-size: 1.8rem;
}

.page-header {
  margin-bottom: 0;
  padding: 0!important;
  border: 3px solid black;
  border-radius: 0;
}

.title {
    font-size: 14px;
}
